:root{
    --primary-color:#3a1c71;
    --secondery-color: #f56ab7;
    --accent-color: #ffaf7b;
    --text-color: #333;
    --light-color: #f9f9f9;
    --dark-color:#212529;
    --shadow:0 4px 6px rgba(0,0,0,0.1);
    --transition:all 0.3s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background: linear-gradient(to right, var(--primary-color), var(--secondery-color));
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}
.navbar .container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    display: flex;
    align-items: center;

}
.logo-icon{
    margin-right: 10px;
    font-size: 2rem;
}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 8px 0;
    position: relative;
    
}
.nav-link::after{
    content: "";
    position: absolute;
    left:0;
    bottom:0;
    background-color: white;
    height: 2px;
    transition: var(--transition);
}
.nav-link:hover::after{
    width: 100%;
}
.humburger{
    display: none;
}
.close-btn{
    display: flex;
    position: absolute;
    top: 10px;
    background-color: transparent;
    font-size: 30px;
    color: var(--dark-color);
    border: none;
}

.mobile-menu{
    display:none;
    position:absolute;
    top:0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color:var(--light-color);
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    color:var(--dark-color);
    gap: 20px;
    list-style: none;
    backdrop-filter:blur(10px);
    padding-left: 20px;
    padding-top: 40px;
    transition: right 0.3s ease-in-out;

}

.mobile-menu  .nav-link{
    color: var(--text-color);
}
.hero{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("pexels-fauxels-3184357.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-contain{
    max-width: 600px;
    padding: 0 20px;
}
.hero-contain h1{
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
}
.hero-contain p{
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: white;
}
.btn{
    display: inline-block;
    padding: 12px 30px;
    background: var(--accent-color);
    color: var(--dark-color);
    text-decoration: none;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: var(--shadow);
    transition: var(--transition);
}
.btn:hover{
    transform: translate(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.service-section{
    padding: 50px 0;
}

.card{
    background-color: #f9f9f9;
    box-shadow: var(--shadow);
    border-radius: 15px;
    overflow: hidden;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    
}
.card-img{
    
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}
.cards-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;    
}
.service-tittle{
    font-size: 2.5em;
    margin-bottom: 50px;
    text-align: center;
    
}
.service-tittle::after{
    content: "";
    width: 80px;
    height: 4px;
    background:linear-gradient(to right, var(--primary-color),var(--secondery-color));
    margin:15px auto;
    display: block;
    border-radius: 2px;  
}
.card-contain{
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.card-tittle{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 15px;
}
.card-contain .card-text{
    margin-bottom:10px;
    color: #666;
    line-height: 22px;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 25px;
}
.card-tag{
    background-color: var(--light-color);
    font-size: 1rem;
    padding: 5px 10px;
    color: var(--primary-color);
}
.card-link{
    color: var(--secondery-color);
    text-decoration: none;
    font-weight: 600;
    transition: var(--transition);
}

@media screen and (max-width:480px) {
    .nav-menu{
        display: none;
    }
    .humburger{
        display: inline-block;
        color: #212529;
        font-size: 36px;
        background-color:transparent;
        border: none;
    }
    
}
